<%= form_with(model: job, class: 'user-edit-middle') do |form| %>

  <div class="user-edit-left">

    <div class="field">
      <%= form.text_field :user_id, id: :jobs_user_id, value: current_user.id, type: :hidden %>
    </div>

    <div class="field">
      <%= form.label :position, 'Position / Role' %>
      <%= form.text_field :position %>
    </div>

    <div class="field">
      <%= form.label :experience %>
      <%= form.text_field :experience %>
    </div>

    <div class="field">
      <%= form.label :salary, 'Salary' %>
      <%= form.text_field :salary %>
    </div>

    <div class="field">
      <%= form.label :openings %>
      <%= form.number_field :openings %>
    </div>

    <div class="field">
      <%= form.label :employment_type %>
      <%= form.text_field :employment_type %>
    </div>

    <div class="field">
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>

    <div class="field">
      <%= form.label :education %>
      <%= form.text_field :education %>
    </div>

  </div>

  <div class="user-edit-right">

    <% if job.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

        <ul>
          <% job.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title, 'Job Title' %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :job_description %>
      <%= form.text_area :job_description %>
    </div>

    <div class="field">
      <%= form.label :skills %>
      <%= form.text_field :skills %>
    </div>

    <div class="field">
      <div class="check-box">
        <div class="box">
          <%= form.check_box :archived %>
        </div>
        <div class="label">
          <%= form.label :archived, 'Mark as Archived'%>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= form.submit class: 'button'%>
    </div>

  </div>

<% end %>

