<h1>Profile</h1>

<%= current_user.company_name %>
<br/>
<%= current_user.industry_type %>
<br/>
<%= current_user.website %>
<br/>

<%= current_user.phone %> |
<%= current_user.email %>

<%= current_user.address %>

<br/>
<%= current_user.about%>

<br/>

<table>
  <thead>
  <tr>
    <th>User_id</th>
    <th>Title</th>
    <th>Position</th>
    <th>Location</th>
    <th>Experience</th>
    <th>Salary</th>
    <th>Openings</th>
    <th>Employment Type</th>
    <th>Education</th>
    <th>Skills</th>
    <th>Job Description</th>
    <th>Archived</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.user_id %></td>
      <td><%= job.title %></td>
      <td><%= job.position %></td>
      <td><%= job.location %></td>
      <td><%= job.experience %></td>
      <td><%= job.salary %></td>
      <td><%= job.openings %></td>
      <td><%= job.employment_type %></td>
      <td><%= job.education %></td>
      <td><%= job.skills %></td>
      <td><%= job.job_description %></td>
      <td><%= job.archived %></td>
      <td><%= link_to 'Show', job %></td>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
      <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>